body {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: PingFang SC, -apple-system, SF UI Text, Lucida Grande, STheiti, Microsoft YaHei, sans-serif;
    outline: none;
    -webkit-text-size-adjust: none;
    padding-top: 10px;
    overflow-y: scroll;
    color: #000;
}

#nav {
    font-size: 22px;

    ul {
        padding: 10px;
        margin-left: 0;
        list-style-type: none;

        li {
            display: inline;
            margin-left: 20px;

            a {
                padding-left: 5px;
                padding-right: 5px;
            }
        }

        li.blog-brand {
            text-align: right;
            margin-left: 0;
            font-size: 26px;
            font-weight: bold;

            h4 {
                margin-bottom: 0px;

                a {
                    border-bottom: #000 2px solid;
                    padding-bottom: 5px;
                }
            }
        }
    }
}

#content {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#footer {
    border-top: #dbdbdb 1px solid;
    text-align: center;
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 50px;
    color: #7f7f7f;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            display: inline;
        }
    }
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    /* text-decoration: underline; */
    color: #fff;
    background-color: #000;
}

.row {
    margin-left: 0;
    margin-right: 0;
    margin-top: 25px;
    margin-bottom: 25px;
}