<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <link rel="stylesheet" href="/assets/css/theme.css?{{build_md_time}}" />
    <link rel="stylesheet" href="/assets/css/skylighting-solarized-theme.css?{{build_md_time}}" />
    <link rel="stylesheet" href="/assets/css/base.css?{{build_md_time}}" />
    <meta name="keywords" content="{{keywords}}">
    <meta name="description" content="{{description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    <title>{% block title %}{% endblock title %}</title>
    {% endblock head %}
</head>

<body>
    {% include "nav.html" %}
    <div id="content">{% block content %}{% endblock content %}</div>
    <div id="footer">
        <div>
            <ul>
                <li>
                    <a href="/about.html">关于我们</a>
                </li>
                <li>|</li>
                <li>
                    <a target="_blank" href="https://github.com/zzliujianbo/newoneblog">newoneblog构建</a>
                </li>
            </ul>
        </div>
        {{ footer_html | safe }}
        {% block footer %}
        {% endblock footer %}
    </div>
</body>

</html>