<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <link rel="stylesheet" href="/assets/css/base.css?{{build_md_time}}" />
    <meta name="keywords" content="{{keywords}}">
    <meta name="description" content="{{description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    {% for js in global_include_script_path %}
    <script src="{{js | safe}}"></script>
    {% endfor %}

    {{ global_include_script | safe }}

    <title>{% block title %}{% endblock title %}</title>
    {% endblock head %}
</head>

<body>
    {% block nav %}
    {% include "nav.html" %}
    {% endblock nav %}
    <div id="content">{% block content %}{% endblock content %}</div>
    <div id="footer">
        <div class="row">
            <ul>
                <li>
                    <a class="ahover" href="/about.html">关于{{title}}</a>
                </li>
                <!-- <li>|</li>
                <li>
                </li> -->
            </ul>
        </div>
        <div class="row">
            <p>
                Powered by <a class="ahover" target="_blank"
                    href="https://github.com/zzliujianbo/newoneblog">newoneblog</a>
            </p>
        </div>
        <div class="row">
            {{ footer_html | safe }}
        </div>
        {% block footer %}
        {% endblock footer %}
    </div>
</body>

</html>