{% extends "base.html" %}
{% block title %}
{{title}}
{% endblock title %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/assets/css/index.css?{{build_md_time}}" />
{% endblock head %}

{% block content %}
{% for md in md_metas %}
{%if md.title != 'about'%}
<div class="article">
    <h2>
        <a class="link" href="{{md.html_url | safe}}">{{md.title}}</a>
    </h2>
    <p>
        <a class="link-nostyle" href="{{md.html_url | safe}}">
            {{md.description}}
        </a>
    </p>
    <div class="time-text">
        {% if md.update_date %}
        {{ md.update_date | date }}
        {% endif %}
    </div>
</div>
{%endif%}
{% endfor %}
{% endblock content %}